<!DOCTYPE html>

<html>
    <head>
        <title>Announcements</title>
        <meta charset="UTF-8">
        <meta name="description" content="Canvas Page Announcements">
        <meta name="keywords" content="canvas, html, announcements">
        <meta name="authors" content="Dhruv Srikanth, Redon Kurti, Vidur Subaiah">
        <link rel="stylesheet" href="../../static/css/page_template.css">
    </head>
    <body>
        <div class="grid-container">
            <div class="grid-element-header">
                <h1>Canvas</h1>
            </div>
            <div class="grid-element-sidebar">
                <a href="/myaccount">My Account</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/courses">Courses</a>
                <a href="/">Logout</a>
            </div>
            <div class="grid-element-main">
                <div class="grid-element-secondary-sidebar">
                    <h3>
                        Secondary Sidebar
                    </h3>
                    <a href="/course/announcement">Announcements</a>
                    <a href="/course/assignments">Assignments</a>
                    <a href="/course/grades">Grades</a>
                </div>
                <h3>
                    Announcements
                </h3>
                <table>
                    <tr>
                        <th> Title</th>
                        <th> Content</th>
                    </tr>
                    <tr>
                        <td>Announcement 1</td>
                        <td>Hello</td>
                    </tr>
                </table>
                <br/><br/>
                <h3>
                    New Announcement
                </h3>
                <div class="form">
                    <form>
                        <textarea id="textarea" name="textarea" placeholder="Enter new announcement..."></textarea>
                        <br/><br/>
                        <input type="submit" value="Submit"></input>
                    </form>
                </div>

            </div>
            <div class="grid-element-extra">
                
            </div>
            <div class="grid-element-footer">
                
            </div>
        </div>
    </body>
</html>