<!DOCTYPE html>

<html>
    <head>
        <title>Announcements</title>
        <meta charset="UTF-8">
        <meta name="description" content="Canvas Page Announcements">
        <meta name="keywords" content="canvas, html, announcements">
        <meta name="authors" content="Dhruv Srikanth, Redon Kurti, Vidur Subaiah">
        <link rel="stylesheet" href="../../static/css/page_template.css">
    </head>
    <body>
        <div class="grid-container">
            <div class="grid-element-header">
                <h1>Canvas</h1>
            </div>
            <div class="grid-element-sidebar">
                <a href="/myaccount">My Account</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/courses">Courses</a>
                <a href="/">Logout</a>
            </div>
            <div class="grid-element-main">
                <div class="grid-element-secondary-sidebar">
                    <h3>
                        Secondary Sidebar
                    </h3>
                    <a href="/course/{{id_}}/announcement">Announcements</a>
                    <a href="/course/{{id_}}/assignments">Assignments</a>
                    <a href="/course/{{id_}}/grades">Grades</a>
                </div>
                <h3>
                    Current Announcements
                </h3>
                <table>
                    <tr>
                        <th> Title</th>
                        <th> Description</th>
                        <th> Date Posted</th>
                    </tr>
                    {% for announcement in announcements %}
                        <tr>
                            <td>{{announcement[1]}}</td>
                            <td>{{announcement[2]}}</td>
                            <td>{{announcement[3]}}</td>
                        </tr>
                    {% endfor %}

                </table>
                <br/><br/>
                <h3>
                    Create Announcement
                </h3>
                <div class="form">
                    <form action="/course/{{id_}}/announcement" method="POST">
                        <label class="title">Title:</label><br/>
                        <input type="text" id="title" name="title" required/><br/><br/>
                        <label class="desc">Description:</label><br/>
                        <textarea id="desc" name="desc" placeholder="Enter description..."></textarea>
                        <br/><br/>
                        <input type="submit" value="Submit"></input>
                    </form>
                </div>

            </div>
            <div class="grid-element-extra">
                
            </div>
            <div class="grid-element-footer">
                
            </div>
        </div>
    </body>
</html>