<!DOCTYPE html>

<html>
    <head>
        <title>Grades</title>
        <meta charset="UTF-8">
        <meta name="description" content="Canvas Page Grades">
        <meta name="keywords" content="canvas, html, grades">
        <meta name="authors" content="Dhruv Srikanth, Redon Kurti, Vidur Subaiah">
        <link rel="stylesheet" href="../../static/css/page_template.css">
    </head>
    <body>
        <div class="grid-container">
            <div class="grid-element-header">
                <h1>Canvas</h1>
            </div>
            <div class="grid-element-sidebar">
                <a href="/myaccount">My Account</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/courses">Courses</a>
                <a href="/">Logout</a>
            </div>
            <div class="grid-element-main">
                <div class="grid-element-secondary-sidebar">
                    <h3>
                        Secondary Sidebar
                    </h3>
                    <a href="/course/{{id_}}/announcement">Announcements</a>
                    <a href="/course/{{id_}}/assignments">Assignments</a>
                    <a href="/course/{{id_}}/grades">Grades</a>
                </div>
                <h3>
                    Grades
                </h3>
                {% for assignment_name in assignment_names %}
                    <h4>
                        Assignment - {{assignment_name}}
                    </h4>
                    <table>
                        <tr>
                            <th> Student</th>
                            <th> Submission</th>
                            <th> Grade Received</th>
                            <th> Total</th>
                            <th> Edit Grade</th>
                        </tr>
                        {% for assignment in assignments %}
                            {% if assignment[0] == assignment_name %}
                                <tr>
                                    <td>{{assignment[1]}}</td>
                                    <td>{{assignment[2]}}</td>
                                    <td>{{assignment[3]}}</td> 
                                    <td>{{assignment[4]}}</td>
                                    <td>
                                        <form action="/course/{{id_}}/grades" method="POST">
                                            <input type="text" id="edit_grade" name="edit_grade"/>
                                            <input type="hidden" id="assignment_id" name = "assignment_id" value="{{assignment[5]}}"/>
                                            <input type="hidden" id="user_id" name = "user_id" value="{{assignment[6]}}"/>
                                            <input type="submit" id="edit_grade_button" value="Submit Grade"></input>
                                        </form>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %} 
                    </table>
                {%endfor%}
            </div>
            <div class="grid-element-extra">
                
            </div>
            <div class="grid-element-footer">
                
            </div>
        </div>
    </body>
</html>