<!DOCTYPE html>

<html>
    <head>
        <title>Grades</title>
        <meta charset="UTF-8">
        <meta name="description" content="Canvas Page Grades">
        <meta name="keywords" content="canvas, html, grades">
        <meta name="authors" content="Dhruv Srikanth, Redon Kurti, Vidur Subaiah">
        <link rel="stylesheet" href="../../static/css/page_template.css">
    </head>
    <body>
        <div class="grid-container">
            <div class="grid-element-header">
                <h1>Canvas</h1>
            </div>
            <div class="grid-element-sidebar">
                <a href="/myaccount">My Account</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/courses">Courses</a>
                <a href="/">Logout</a>
            </div>
            <div class="grid-element-main">
                <div class="grid-element-secondary-sidebar">
                    <h3>
                        Secondary Sidebar
                    </h3>
                    <a href="/course/announcement">Announcements</a>
                    <a href="/course/assignments">Assignments</a>
                    <a href="/course/grades">Grades</a>
                </div>
                <h3>
                    Grade X
                </h3>
                <div class="form-grades">
                    <form action="/course" method='GET'>
                        <label for="assign_grade">Enter Grade</label><br/>
                        <input type="assign_grade" id="assign_grade" name="assign_grade" required/>
                        <input type="submit" value="Submit"></input>
                    </form>
                </div>

            </div>
            <div class="grid-element-extra">
                <h3>
                    Extra Information
                </h3>
                <p>
                    Some other stuff
                </p>
            </div>
            <div class="grid-element-footer">
                <h3>
                    Footer
                </h3>
            </div>
        </div>
    </body>
</html>