<!DOCTYPE html>

<html>
    <head>
        <title>Template</title>
        <meta charset="UTF-8">
        <meta name="description" content="Canvas My Account">
        <meta name="keywords" content="account, information, name, email, studentid, profile">
        <meta name="authors" content="Dhruv Srikanth, Redon Kurti, Vidur Subaiah">
    </head>
    <body>
        <div class="grid-container">
            <div class="grid-element-header">
                <h1>Canvas</h1>
            </div>
            <div class="grid-element-sidebar">
                <a href="/src/account.html">My Account</a>
                <a href="/src/dashboard.html">Dashboard</a>
                <a href="/src/courses.html">Courses</a>
                <a href="/src/settings.html">Settings</a>
                <a href="/src/logout.html">Logout</a>
            </div>
            <div class="grid-element-main">
                <div class="grid-element">
                    <h3> 
                        My Account
                    </h3>
                </div>

                <div class="grid-element">
                    <h4>
                        Personal Information:
                    </h4>
                </div>

                <div class="grid-element">
                    <h4>
                        Name
                        <!-- Add name of user in js-->
                    </h4>
                    <ul>

                    </ul>
                </div>

                <div class="grid-element">
                    <h4>
                        E-mail
                        <!-- Add email of user in js-->
                    </h4>
                    <ul>

                    </ul>
                </div>

                <div class="grid-element">
                    <h4>
                        Student ID
                        <!-- Add student id of user in js-->
                    </h4>
                    <ul>
                        
                    </ul>
                </div>

                <div class="buttons">
                    <button type="button">Edit Profile</button>
                    <button type="button">Change Password</button>
                    <button type="button">Change Security Questions</button>
                </div>
            </div>
            <div class="grid-element-extra">
            </div>
            <div class="grid-element-footer">
            </div>
        </div>
    </body>
</html>