<!DOCTYPE html>

<html>
    <head>
        <title>Profile</title>
        <meta charset="UTF-8">
        <meta name="description" content="Canvas My Account Edit Profile">
        <meta name="keywords" content="edit, profile, name, email, studentid">
        <meta name="authors" content="Dhruv Srikanth, Redon Kurti, Vidur Subaiah">
        <link rel="stylesheet" href="../../static/css/page_template.css">
    </head>
    <body>
        <div class="grid-container">
            <div class="grid-element-header">
            <h1>Canvas</h1>
            </div>
            <div class="grid-element-sidebar">
                <a href="/myaccount">My Account</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/courses">Courses</a>
                {% if admin_flag  %}
                    <a href="/settings">Settings</a>
                {% endif %}
                <a href="/">Logout</a>
            </div>
            <div class="grid-element-main">
                <h3>
                Edit Profile 
                </h3>
                <div class="form">
                    <form action="/myaccount/edit_profile" method="POST">
                        <h3>Edit your personal information:</h3>
                    
                        <label for="full_name">Full Name:</label><br/>
                        <input type="text" id="full_name" name="full_name" required/><br/><br/>
                        
                        <h4>
                            Email Requirements - 
                        </h4>
                        <ul>
                            <li>
                                Login using email ID specified during registration.
                            </li>
                            <li>
                                Email must be a .edu email address.
                            </li>
                        </ul>
                        <label for="email">Email:</label><br/>
                        <input type="text" id="email" name="email" required/><br/><br/>

                        <h4>
                            ID Requirements - 
                        </h4>
                        <ul>
                            <li>
                                ID entered must be a whole number.
                            </li>
                        </ul> 
                        <label for="id">ID:</label><br/>
                        <input type="text" id="id" name="id" required/><br/><br/>
  
                        <input type="submit" value="Save"></input>
                    </form>
                </div>
            </div>
            <div class="grid-element-extra">
            </div>
            <div class="grid-element-footer">
            </div>
        </div>
    </body>
</html>