<!DOCTYPE html>

<html>
    <head>
        <title>My Account</title>
        <meta charset="UTF-8">
        <meta name="description" content="Canvas My Account">
        <meta name="keywords" content="account, information, name, email, studentid, profile">
        <meta name="authors" content="Dhruv Srikanth, Redon Kurti, Vidur Subaiah">
        <link rel="stylesheet" href="../../css/page_template.css">
    </head>
    <body>
        <div class="grid-container">
            <div class="grid-element-header">
                <h1>Canvas</h1>
            </div>
            <div class="grid-element-sidebar">
                <a href="/myaccount">My Account</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/courses">Courses</a>
                <a href="/settings">Settings</a>
                <a href="/">Logout</a>
            </div>
            <div class="grid-element-main">
                <div class="grid-element">
                    <h3> 
                        My Account
                    </h3>
                </div>

                <div class="grid-element">
                    <h4>
                        Personal Information:
                    </h4>
                </div>

                <div class="grid-element">
                    <h4>
                        Name
                    </h4>
                    <ul>

                    </ul>
                </div>

                <div class="grid-element">
                    <h4>
                        E-mail
                    </h4>
                    <ul>

                    </ul>
                </div>

                <div class="grid-element">
                    <h4>
                        Student ID
                    </h4>
                    <ul>
                        
                    </ul>
                </div>

                <div class="buttons">
                    <a href="/myaccount/edit_profile">
                    <button type="button">Edit Profile</button>
                    </a>
                    <a href="/myaccount/change_password">
                    <button type="button">Change Password</button>
                    </a>
                    <a href="/myaccount/change_sec_questions">
                    <button type="button">Change Security Questions</button>
                    </a>
                </div>
            </div>
            <div class="grid-element-extra">
            </div>
            <div class="grid-element-footer">
            </div>
        </div>
    </body>
</html>