<!DOCTYPE html>

<html>
    <head>
        <title> My Account - Change Password</title>
        <meta charset="UTF-8">
        <meta name="description" content="Canvas My Account Change Password">
        <meta name="keywords" content="change, password, reset">
        <meta name="authors" content="Dhruv Srikanth, Redon Kurti, Vidur Subaiah">
        <link rel="stylesheet" href="../../static/css/page_template.css">
    </head>
    <body>
        <div class="grid-container">
            <div class="grid-element-header">
                <h1>Canvas</h1>
            </div>
            <div class="grid-element-sidebar">
                <a href="/myaccount">My Account</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/courses">Courses</a>
                <a href="/">Logout</a>
            </div>
            <div class="grid-element-main">
                <h3>
                    My Account - Change Password
                </h3>
                <div class="form">
                    <form action="/myaccount" method="GET">
                        <h3>Change your password:</h3>
                        
                        <label for="current_pwd">Current Password:</label><br/>
                        <input type="text" id="current_pwd" name="current_pwd" required/><br/><br/>

                        <label for="new_pwd">New Password:</label><br/>
                        <input type="text" id="new_pwd" name="new_pwd" required/><br/><br/>
        
                        <label for="confirm_pwd">Confirm Password:</label><br/>
                        <input type="text" id="confirm_pwd" name="confirm_pwd" required/><br/><br/>
    
                        <input type="submit" value="Save"></input>
                    </form>
                </div>
            </div>
            <div class="grid-element-extra">
            </div>
            <div class="grid-element-footer">
            </div>
        </div>
    </body>
</html>