<!DOCTYPE html>

<html>
    <head>
        <title>My Account - Change Security Questions</title>
        <meta charset="UTF-8">
        <meta name="description" content="Canvas My Account Change Security Questions">
        <meta name="keywords" content="change, security, questions, reset">
        <meta name="authors" content="Dhruv Srikanth, Redon Kurti, Vidur Subaiah">
        <link rel="stylesheet" href="../../static/css/page_template.css">
    </head>
    <body>
        <div class="grid-container">
            <div class="grid-element-header">
                <h1>Canvas</h1>
            </div>
            <div class="grid-element-sidebar">
                <a href="/myaccount">My Account</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/courses">Courses</a>
                {% if admin_flag  %}
                    <a href="/settings">Settings</a>
                {% endif %}
                <a href="/">Logout</a>
            </div>
            <div class="grid-element-main">
                <h3>
                    My Account - Change Security Questions
                </h3>
                <div class="form">
                    <form action="/myaccount" method="GET">
                        <h3>Update Answers to your Security Questions:</h3>
                        
                        <label for="current_pwd">Current Password:</label><br/>
                        <input type="text" id="current_pwd" name="current_pwd" required/><br/>

                        <h3>Security Questions:</h3>
                        <label for="security_question_1">What is your favorite color?</label><br/><br/>
                        <input type="text" id="security_question_1" name="security_question_1" required/><br/><br/>
        
                        <label for="security_question_2">What is your favorite food?</label><br/><br/>
                        <input type="text" id="security_question_2" name="security_question_2" required/><br/><br/>
        
                        <label for="security_question_3">What is your mother's maiden name?</label><br/><br/>
                        <input type="text" id="security_question_3" name="security_question_3" required/><br/><br/>
    
                        <input type="submit" value="Save"></input>
                    </form>
                </div>
            </div>
            <div class="grid-element-extra">
            </div>
            <div class="grid-element-footer">
            </div>
        </div>
    </body>
</html>