<!DOCTYPE html>

<html>
    <head>
        <title>Assignments</title>
        <meta charset="UTF-8">
        <meta name="description" content="Canvas Page Assignments">
        <meta name="keywords" content="canvas, html, assignments">
        <meta name="authors" content="Dhruv Srikanth, Redon Kurti, Vidur Subaiah">
        <link rel="stylesheet" href="../../static/css/page_template.css">
    </head>
    <body>
        <div class="grid-container">
            <div class="grid-element-header">
                <h1>Canvas</h1>
            </div>
            <div class="grid-element-sidebar">
                <a href="/myaccount">My Account</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/courses">Courses</a>
                <a href="/">Logout</a>
            </div>
            <div class="grid-element-main">
                <div class="grid-element-secondary-sidebar">
                    <h3>
                        Secondary Sidebar
                    </h3>
                    <a href="/course/{{id_}}/announcement">Announcements</a>
                    <a href="/course/{{id_}}/assignments">Assignments</a>
                    <a href="/course/{{id_}}/grades">Grades</a>
                </div>
                <h3>
                    Current Assignments
                </h3>
                <table>
                    <tr>
                        <th> Title</th>
                        <th> Description</th>
                        <th> Total Points</th>
                        <th> Post Posted</th>
                        <th> Due Date</th>
                        <th> Submission</th>
                    </tr>
                
                    {% for assignment in assignments %}
                        <tr>
                            <td>{{assignment[0]}}</td>
                            <td>{{assignment[1]}}</td>
                            <td>{{assignment[2]}}</td>
                            <td>{{assignment[3]}}</td>
                            <td>{{assignment[4]}}</td>

                            {% if {{assignment[5]}} == True: %}
                                <td><a href='/course/{{id_}}/assignment'><button type="button">Submit</button></a></td>
                            {% else: %}
                                <td>Submitted</td>
                            {% endif %}
                    
                        </tr>
                    {% endfor %}

                    


                        
                    
                </table>

            </div>
            <div class="grid-element-extra">
    
            </div>
            <div class="grid-element-footer">
            
            </div>
        </div>
    </body>
</html>