<!DOCTYPE html>

<html>
    <head>
        <title>Assignments</title>
        <meta charset="UTF-8">
        <meta name="description" content="Canvas Page Assignments">
        <meta name="keywords" content="canvas, html, assignments">
        <meta name="authors" content="Dhruv Srikanth, Redon Kurti, Vidur Subaiah">
        <link rel="stylesheet" href="../../static/css/page_template.css">
    </head>
    <body>
        <div class="grid-container">
            <div class="grid-element-header">
                <h1>Canvas</h1>
            </div>
            <div class="grid-element-sidebar">
                <a href="/myaccount">My Account</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/courses">Courses</a>
                <a href="/">Logout</a>
            </div>
            <div class="grid-element-main">
                <div class="grid-element-secondary-sidebar">
                    <h3>
                        Secondary Sidebar
                    </h3>
                    <a href="/course/{{id_}}/announcement">Announcements</a>
                    <a href="/course/{{id_}}/assignments">Assignments</a>
                    <a href="/course/{{id_}}/grades">Grades</a>
                </div>
                <h3>
                    Current Assignments
                </h3>
                <table>
                    <tr>
                        <th> Title</th>
                        <th> Description</th>
                        <th> Total Points</th>
                        <th> Post Posted</th>
                        <th> Due Date</th>
                    </tr>
                
                    {% for assignment in assignments %}
                        <tr>
                            <td>{{assignment[1]}}</td>
                            <td>{{assignment[2]}}</td>
                            <td>{{assignment[3]}}</td>
                            <td>{{assignment[4]}}</td>
                            <td>{{assignment[5]}}</td>
                        </tr>
                    {% endfor %}
                        
                    
                </table>

                <br/><br/>
                <h3>
                    Create New Assignment
                </h3>
                <div class="form">
                    <form action="/course/{{id_}}/assignments" method="POST">
                        <label for="assign_name">Assignment's Name:</label><br/>
                        <input type="text" id="assign_name" name="assign_name" required/><br/><br/>

                        <label for="points">Number of points:</label><br/>
                        <input type="text" id="points" name="points" required/><br/><br/>
                        
                        <label for="desc">Descripton:</label><br/>
                        <textarea id="desc" name="desc" placeholder="Enter description..."></textarea>
                        <br/><br/>

                        <label for="due_date">Due Date:</label><br/>
                        <input type="datetime-local" id="due_date" name="due_date" placeholder="YYYY-mm-dd H:M:S (24hr format)"required/><br/><br/>
                        <input type="submit" value="Submit"></input>
                        </br></br>
                    </form>
                </div>

            </div>
            <div class="grid-element-extra">
               
            </div>
            <div class="grid-element-footer">
              
            </div>
        </div>
    </body>
</html>