<!DOCTYPE html>

<html>
    <head>
        <title>Signup</title>
        <meta charset="UTF-8">
        <meta name="description" content="Canvas Login">
        <meta name="keywords" content="canvas, login, signup">
        <meta name="authors" content="Dhruv Srikanth, Redon Kurti, Vidur Subaiah">
        <link rel="stylesheet" href="../../static/css/page_template.css">
    </head>
    <body>
        <div class="grid-container">
            <div class="grid-element-header">
                <h1>Canvas</h1>
            </div>
            <div class="grid-element-sidebar"></div>
            <div class="grid-element-main">
                <div class="form">
                    <form action="/signup" method="POST">
                        <h3>Signup for Canvas by providing the following information:</h3>
                        
                        <label for="full_name">Full Name:</label><br/>
                        <input type="text" id="full_name" name="full_name" required/><br/><br/>

                        <h4>
                            Email Requirements - 
                        </h4>
                        <ul>
                            <li>
                                Login using email ID specified during registration.
                            </li>
                            <li>
                                Email must be a .edu email address.
                            </li>
                        </ul>
                        <label for="email">Email:</label><br/>
                        <input type="text" id="email" name="email" required/><br/><br/>
                        
                        <h4>
                            ID Requirements - 
                        </h4>
                        <ul>
                            <li>
                                ID entered must be a whole number.
                            </li>
                        </ul> 

                        <label for="id">ID:</label><br/>
                        <input type="text" id="id" name="id" required/><br/><br/>

                        <h4>
                            Password Requirements - 
                        </h4>
                        <ul>
                            <li>
                                Password must be at least 5 characters long.
                            </li>
                            <li>
                                Password must contain at least one letter, one number and one special character.
                            </li>
                        </ul>   
                        <label for="pwd">Password:</label><br/>
                        <input type="password" id="pwd" name="pwd" required/><br/><br/>
        
                        <label for="confirm_pwd">Confirm Password:</label><br/>
                        <input type="password" id="confirm_pwd" name="confirm_pwd" required/><br/><br/>
        
                        <label for="account_type">Account Type:</label><br/><br/>
                        <select id="account_type" name="account_type">
                            <option value="student">Student</option>
                            <option value="teacher">Teacher</option>
                        </select><br/><br/>
        
                        <h3>Security Questions:</h3>
                        <label for="security_question_1">What is your favorite color?</label><br/><br/>
                        <input type="text" id="security_question_1" name="security_question_1" required/><br/><br/>
        
                        <label for="security_question_2">What is your favorite food?</label><br/><br/>
                        <input type="text" id="security_question_2" name="security_question_2" required/><br/><br/>
        
                        <label for="security_question_3">What is your mother's maiden name?</label><br/><br/>
                        <input type="text" id="security_question_3" name="security_question_3" required/><br/><br/>
        
                        <input type="submit" value="Signup"></input><br/><br/>
                    </form>
                </div>
            </div>
            <div class="grid-element-footer"></div>
        </div> 
    </body>
</html>