<!DOCTYPE html>

<html>
    <head>
        <title>Settings</title>
        <meta charset="UTF-8">
        <meta name="description" content="Canvas Settings">
        <meta name="keywords" content="canvas, settings, admin">
        <meta name="authors" content="Dhruv Srikanth, Redon Kurti, Vidur Subaiah">
        <link rel="stylesheet" href="../../static/css/page_template.css">
    </head>
    <body>
        <div class="grid-container">
            <div class="grid-element-header">
                <h1>Canvas</h1>
            </div>
            <div class="grid-element-sidebar">
                <a href="/myaccount">My Account</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/courses">Courses</a>
                <a href="/settings">Settings</a>
                <a href="/">Logout</a>
            </div>
            <div class="grid-element-main">
                <h3> 
                    Settings
                </h3>
                <div class="form">
                    <form method="GET">
                        <h4>
                            User Search:
                        </h4>
                            <label for="user_search">Name/Email</label><br/>
                            <input type="text" id="user_search" name="user_search" required><br/><br/>
                            <input type="submit" value="Search"></input>
                    </form>
                </div>

                <div class="grid-element">
                    <h4>
                        Registered Users:
                    </h4>
                
                    <table>
                        <tr>
                            <th> User ID</th>
                            <th> Full Name</th>
                            <th> Email</th>
                            <th> Status</th>
                            <th> Edit Status</th>
                            <th> Add To Class</th>
                        </tr>
                        {% for user in user_information %}
                            
                            <tr>
                                <td>{{user[0]}}</td>
                                <td>{{user[1]}}</td>
                                <td>{{user[2]}}</td> 
                                <td>{{user[3]}}</td>
                                <td>
                                    <form action="/settings" method="POST">
                                        <input type="hidden" name="user_id" value="{{user[0]}}">
                                        <input type="submit" id="toggle_status" value="Toggle Active/Inactive"></input>
                                    </form>
                                </td>
                                <td>
                                    <form action="/settings" method="POST">
                                        <input type="hidden" name="user_id" value="{{user[0]}}">

                                        <label class="course">Course:</label><br/><br/>
                                        <select id="courses" name="courses">
                                            {% for course in courses %}
                                                <option value="{{course[0]}}">
                                                    {{course[1]}}
                                                </option>
                                            {% endfor %}
                                        </select><br/><br/>
                                        <input type="submit" id="add_user" value="Add User To Class"></input>
                                    </form>
                                </td>
                            </tr>
                            
                        {% endfor %} 
                    </table>
                    
                </div>

        

                <div class="grid-element">
                    <ul>

                    </ul>
                </div>
            </div>
            <div class="grid-element-extra">
            </div>
            <div class="grid-element-footer">
            </div>
        </div>
    </body>
</html>