<!DOCTYPE html>

<html>
    <head>
        <title>Settings</title>
        <meta charset="UTF-8">
        <meta name="description" content="Canvas Settings">
        <meta name="keywords" content="canvas, settings, admin">
        <meta name="authors" content="Dhruv Srikanth, Redon Kurti, Vidur Subaiah">
        <link rel="stylesheet" href="../../static/css/page_template.css">
    </head>
    <body>
        <script>
            function filterActive() {
                var table = document.getElementById("user_table");
                var rows = table.getElementsByTagName('tr');
                for (var i = 1; i < rows.length; i++) {
                    var status = rows[i].getElementsByTagName("TD")[3];
                    if (status.innerHTML.toLowerCase() == "inactive"){
                        rows[i].style.display = "none";
                    }
                }
            }

            function filterInactive() {
                var table = document.getElementById("user_table");
                var rows = table.getElementsByTagName('tr');
                for (var i = 1; i < rows.length; i++) {
                    var status = rows[i].getElementsByTagName("TD")[3];
                    if (status.innerHTML.toLowerCase() == "active"){
                        rows[i].style.display = "none";
                    }
                }
            }

            function filterReset() {
                var table = document.getElementById("user_table");
                var rows = table.getElementsByTagName('tr');
                for (var i = 1; i < rows.length; i++) {
                    rows[i].style.display = "";
                }
            }

            function searchNameEmail() {
                var search_value = document.getElementById("user_search").value;
                var table = document.getElementById("user_table");
                var rows = table.getElementsByTagName('tr');
                for (var i = 1; i < rows.length; i++) {
                    var name = rows[i].getElementsByTagName("TD")[1];
                    var email = rows[i].getElementsByTagName("TD")[2];

                    if (search_value.toLowerCase().includes("@")) {
                        // Search by email
                        if (email.innerHTML.toLowerCase().includes(search_value.toLowerCase())) {
                            rows[i].style.display = "";
                        } else {
                            rows[i].style.display = "none";
                        }
                    }
                    else {
                        // Search by name
                        if (name.innerHTML.toLowerCase().includes(search_value.toLowerCase())) {
                            rows[i].style.display = "";
                        } else {
                            rows[i].style.display = "none";
                        }
                    }
                }
            }

        </script>
        <div class="grid-container">
            <div class="grid-element-header">
                <h1>Canvas</h1>
            </div>
            <div class="grid-element-sidebar">
                <a href="/myaccount">My Account</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/courses">Courses</a>
                <a href="/settings">Settings</a>
                <a href="/">Logout</a>
            </div>
            <div class="grid-element-main">
                <h3> 
                    Settings
                </h3>

                <h4>
                    User Search:
                </h4>

                <div class="search_box">
                    <input type="text" id="user_search" placeholder="Use @ for email search">
                    <button onclick="searchNameEmail()">Search</button>
                    <!-- <form>
                        <label for="user_search">Name/Email</label><br/>
                        <input type="text" id="user_search" name="user_search" required><br/><br/>
                        <input type="submit" value="Search" onclick="searchNameEmail()"></input>
                    </form> -->
                </div>
                <br>


                <div class="filter_search_buttons">
                    <button onclick="filterActive()">Filter by Active Users</button>
                    <button onclick="filterInactive()">Filter by Inactive Users</button><br><br>
                    <button onclick="filterReset()">Reset Table</button>
                </div>

                <div class="grid-element">
                    <h4>
                        Registered Users:
                    </h4>
                
                    <table id="user_table">
                        <tr>
                            <th> User ID</th>
                            <th> Full Name</th>
                            <th> Email</th>
                            <th> Status</th>
                            <th> Edit Status</th>
                            <th> Add To Class</th>
                        </tr>
                        {% for user in user_information %}
                            
                            <tr>
                                <td>{{user[0]}}</td>
                                <td>{{user[1]}}</td>
                                <td>{{user[2]}}</td> 
                                <td>{{user[3]}}</td>
                                <td>
                                    {% if user[4] == "Admin" %}
                                        <p>
                                            Admins cannot deactivate other admins!
                                        </p>
                                    {% else %}
                                        <form action="/settings" method="POST">
                                            <input type="hidden" name="user_id" value="{{user[0]}}">
                                            <input type="hidden" name="action_desc" value="toggle">
                                            <input type="submit" id="toggle_status" name="toggle_status" value="Toggle Active/Inactive"></input>
                                        </form>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if user[4] == "Teacher" %}
                                        <p>
                                            A teacher can be added to course in Courses page!
                                        </p>
                                    {% elif user[4] == "Admin" %}
                                        <p>
                                            An admin cannot be added to a course!
                                        </p>
                                    {% else %}
                                        <form action="/settings" method="POST">
                                            <input type="hidden" name="user_id" value="{{user[0]}}">
                                            <input type="hidden" name="action_desc" value="add_class">
                                            <label class="course">Course:</label><br/><br/>
                                            <select id="courses" name="courses">
                                                {% for course in courses %}
                                                    <option value="{{course[0]}}">
                                                        {{course[1]}}
                                                    </option>
                                                {% endfor %}
                                            </select><br/><br/>
                                            <input type="submit" id="add_user" value="Add User To Class"></input>
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                            
                        {% endfor %} 
                    </table>
                    
                </div>

        

                <div class="grid-element">
                    <ul>

                    </ul>
                </div>
            </div>
            <div class="grid-element-extra">
            </div>
            <div class="grid-element-footer">
            </div>
        </div>
    </body>
</html>