<!DOCTYPE html>

<html>
    <head>
        <title>Courses</title>
        <meta charset="UTF-8">
        <meta name="description" content="Canvas Page Courses">
        <meta name="keywords" content="canvas, html, courses">
        <meta name="authors" content="Dhruv Srikanth, Redon Kurti, Vidur Subaiah">
        <link rel="stylesheet" href="../../static/css/page_template.css">
    </head>
    <body>
        <div class="grid-container">
            <div class="grid-element-header">
                <h1>Canvas</h1>
            </div>
            <div class="grid-element-sidebar">
                <a href="/myaccount">My Account</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/courses">Courses</a>
                <a href="/">Logout</a>
            </div>
            <div class="grid-element-main">
                <h3>
                    Courses
                </h3>
                <ul>
                    {% for course in courses %}
                        <li>
                            <a href="/course/{{course[1]}}">{{course[0]}}</a>
                        </li>
                    {% endfor %}
                </ul>

            </div>
            <div class="grid-element-extra">
            </div>
            <div class="grid-element-footer">
            </div>
        </div>
    </body>
</html>