<!DOCTYPE html>

<html>
    <head>
        <title>Courses</title>
        <meta charset="UTF-8">
        <meta name="description" content="Canvas Page Courses">
        <meta name="keywords" content="canvas, html, courses">
        <meta name="authors" content="Dhruv Srikanth, Redon Kurti, Vidur Subaiah">
        <link rel="stylesheet" href="../../static/css/page_template.css">
    </head>
    <body>
        <div class="grid-container">
            <div class="grid-element-header">
                <h1>Canvas</h1>
            </div>
            <div class="grid-element-sidebar">
                <a href="/myaccount">My Account</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/courses">Courses</a>
                <a href="/settings">Settings</a>
                <a href="/">Logout</a>
            </div>
            <div class="grid-element-main">
                <h3>
                    Current Courses
                </h3>
                <div>
                    <ul>
                        {% for course in courses %}
                            <li>
                                {{course[0]}}
                            </li>
                        {% endfor %}
                    </ul>
    
                </div>
                <div>
                    <h3>
                        Create Course
                    </h3>
                </div>

                <div class="form">
                    <form action="/courses" method="POST">
                        <label class="name">Name:</label><br/>
                        <input type="text" id="name" name="name" required/><br/><br/>

                        <label class="textarea">Descripton:</label><br/>
                        <textarea id="textarea" name="textarea" placeholder="Enter description..."></textarea>
                        <br/><br/>

                        <label class="points">Capacity:</label><br/>
                        <input type="text" id="points" name="points" required/><br/><br/>

                        <label class="teacher">Teacher:</label><br/><br/>
                        <select id="teacher" name="teacher">
                            {% for teacher in teachers %}
                                <option value="{{teacher[0]}}">
                                    {{teacher[0]}}
                                </option>
                            {% endfor %}
                        </select><br/><br/>
                        <input type="submit" value="Create Course"></input>
                    </form>
                </div>


            </div>
            <div class="grid-element-extra">
            
            </div>
            <div class="grid-element-footer">
        
            </div>
        </div>
    </body>
</html>