<!DOCTYPE html>

<html>
    <head>
        <title>Courses</title>
        <meta charset="UTF-8">
        <meta name="description" content="Canvas Page Courses">
        <meta name="keywords" content="canvas, html, courses">
        <meta name="authors" content="Dhruv Srikanth, Redon Kurti, Vidur Subaiah">
        <link rel="stylesheet" href="../../css/page_template.css">
    </head>
    <body>
        <div class="grid-container">
            <div class="grid-element-header">
                <h1>Canvas</h1>
            </div>
            <div class="grid-element-sidebar">
                <a href="/myaccount">My Account</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/courses">Courses</a>
                <a href="/settings">Settings</a>
                <a href="/">Logout</a>
            </div>
            <div class="grid-element-main">
                <h3>
                    Courses
                </h3>
                <div>
                    <ul>
                        <li>Course 1</li>
                        <li>Course 2</li>
                    </ul>
    
                </div>

                <div class="form">
                    <form>
                        <label class="name">Name:</label><br/>
                        <input type="text" id="name" name="name" required/><br/><br/>

                        <label class="textarea">Descripton:</label><br/>
                        <textarea id="textarea" name="textarea" placeholder="Enter description..."></textarea>
                        <br/><br/>

                        <label class="points">Capacity:</label><br/>
                        <input type="text" id="points" name="points" required/><br/><br/>

                        <label class="teacher">Teacher:</label><br/><br/>
                        <select id="teacher" name="teacher">
                            <option value="teacher_1">Teacher_1</option>
                            <option value="teacher_2">Teacher_2</option>
                        </select><br/><br/>
                        <input type="submit" value="Create Course"></input>
                    </form>
                </div>


            </div>
            <div class="grid-element-extra">
                <h3>
                    Extra Information
                </h3>
                <p>
                    Some other stuff
                </p>
            </div>
            <div class="grid-element-footer">
                <h3>
                    Footer
                </h3>
            </div>
        </div>
    </body>
</html>