<!DOCTYPE html>

<html>
    <head>
        <title>Dashboard</title>
        <meta charset="UTF-8">
        <meta name="description" content="Canvas Dashboard">
        <meta name="keywords" content="canvas, dashboard, courses, navigation, student, teacher">
        <meta name="authors" content="Dhruv Srikanth, Redon Kurti, Vidur Subaiah">
        <link rel="stylesheet" href="../../static/css/page_template.css">
    </head>
    <body>
        <div class="grid-container">
            <div class="grid-element-header">
                <h1>Canvas</h1>
            </div>
            <div class="grid-element-sidebar">
                <a to="/myaccount">My Account</a>
                <a to="/dashboard">Dashboard</a>
                <a to="/courses">Courses</a>
                <a to="/settings">Settings</a>
                <a to="/">Logout</a>
            </div>
            <div class="grid-element-main">
                <div class="grid-element">
                    <h3>
                        Dashboard
                    </h3>
                </div>
                <div class="grid-element">
                    <h4>
                        Past Assignments To Be Graded:
                    </h4>
                    <ul>
                    </ul>
                </div>
            </div>
            <div class="grid-element-footer"></div>
        </div>
    </body>
</html>