<!DOCTYPE html>

<html>
    <head>
        <title>Dashboard</title>
        <meta charset="UTF-8">
        <meta name="description" content="Canvas Dashboard">
        <meta name="keywords" content="canvas, dashboard, courses, navigation, student, teacher">
        <meta name="authors" content="Dhruv Srikanth, Redon Kurti, Vidur Subaiah">
        <link rel="stylesheet" href="../../static/css/page_template.css">
    </head>
    <body>
        <div class="grid-container">
            <div class="grid-element-header">
                <h1>Canvas</h1>
            </div>
            <div class="grid-element-sidebar">
                <a href="/myaccount">My Account</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/courses">Courses</a>
                <a href="/">Logout</a>
            </div>
            <div class="grid-element-main">
                <div class="grid-element">
                    <h3>
                        Dashboard
                    </h3>
                </div>
                <div class="grid-element">
                    <h4>
                        Past Assignments To Be Graded:
                    </h4>
                    {% for course_name in course_names %}
                        <h4>
                            Course - {{course_name}}
                        </h4>
                        <ul>
                            {% for assignment in assignments_to_grade %}
                                {% if assignment[0] == course_name %}
                                    <li>
                                        Assignment titled {{assignment[1]}}, by {{assignment[2]}}, has not yet been graded by you.
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {%endfor%}
                </div>
            </div>
            <div class="grid-element-footer"></div>
        </div>
    </body>
</html>